@media (min-width: 992px) {
    #wrapper .sidebar-menu {
        transform: translateX(0);
    }
    #wrapper .main-content {
        margin-left: 0;
        transition: margin 0.15s ease-in-out;
    }

    .is-toggled #wrapper .sidebar-menu {
        transform: translateX(-225px);
    }
    .is-toggled #wrapper .main-content {
        margin-left: -225px;
    }
    .is-toggled #wrapper .main-content:before {
        display: none;
    }
}